<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.general_backend.mapper.BlacklistMapper">
    <resultMap id="BlacklistResultMap" type="com.workflow.general_backend.entity.Blacklist">
        <!-- 定义主键 ,非常重要。如果是多个字段,则定义多个id -->
        <!-- property：主键在pojo中的属性名 -->
        <!-- column：主键在数据库中的列名 -->
        <id property="bid" column="bid"/>
        <!-- 定义普通属性 -->
        <result property="name" column="name"/>
        <result property="users" column="users"/>
        <result property="description" column="description"/>
    </resultMap>

    <insert id="insert" parameterType="com.workflow.general_backend.entity.Blacklist">
        insert into blacklist(bid,name,users,description)
         values (#{bid},#{name},#{users},#{description})
    </insert>
    <update id="update" parameterType="com.workflow.general_backend.entity.Blacklist">
        update blacklist
        set name=#{name},
            users=#{users},
            description=#{description}
        where bid=#{bid}
    </update>
    <delete id="deleteById" parameterType="String">
        delete from blacklist
        where bid=#{bid}
    </delete>


    <select id="findAll" resultMap="BlacklistResultMap">
        select *
            from
                 blacklist
    </select>
    <select id="findById" parameterType="String" resultMap="BlacklistResultMap">
        select *
            from
            blacklist
        where bid=#{bid}
    </select>
</mapper>